<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ylzhsj.sjt">
    <uses-permission android:name="com.example.jpushdemo.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission." />
    <uses-permission android:name="android.permission.SYSTEM_AWRITE_EXTERNAL_STORAGELERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- bugly start -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- share添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <application
        android:name="com.ylzhsj.sjt.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity android:name="com.ylzhsj.sjt.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ylzhsj.sjt.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 登陆-->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"/>

        <!-- 注册第一步-->
        <activity
            android:name=".RegisterOneActivity"
            android:screenOrientation="portrait" />

        <!-- 注册第二步-->
        <activity
            android:name=".RegisterTwoActivity"
            android:screenOrientation="portrait" />

        <!-- 忘记密码第一步-->
        <activity
            android:name=".ForgetPwdOneActivity"
            android:screenOrientation="portrait" />

        <!-- 忘记密码第二步-->
        <activity
            android:name=".ForgetPwdTwoActivity"
            android:screenOrientation="portrait" />

        <!-- 个人设置-->
        <activity
            android:name=".SetActivity"
            android:screenOrientation="portrait" />

        <!-- 关于-->
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />

        <!-- 修改密码-->
        <activity
            android:name=".ChangePwdActivity"
            android:screenOrientation="portrait" />

        <!-- 绑定手机-->
        <activity
            android:name=".ModifyPhoneActivity"
            android:screenOrientation="portrait" />

        <!-- 赚钱大厅-->
        <activity
            android:name=".MoneyMakingHallActivity"
            android:screenOrientation="portrait" />
        <!-- 我的评论-->
        <activity
            android:name=".MyCommentActivity"
            android:screenOrientation="portrait" />

        <!-- 我的推荐-->
        <activity
            android:name=".MyRecommentActivity"
            android:screenOrientation="portrait" />
        <!-- 专属二维码-->
        <activity
            android:name=".MyEwmActivity"
            android:screenOrientation="portrait" />
        <!-- 我的消息-->
        <activity
            android:name=".MyMessageActivity"
            android:screenOrientation="portrait" />
        <!-- 我的悬赏-->
        <activity
            android:name=".MyRewardActivity"
            android:screenOrientation="portrait" />
        <!-- 我的钱包-->
        <activity
            android:name=".MyWalletActivity"
            android:screenOrientation="portrait" />
        <!-- 钱包明细-->
        <activity
            android:name=".MyWalletDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 钱包明细-->
        <activity
            android:name=".MyWalletDetailsListActivity"
            android:screenOrientation="portrait" />
        <!-- 提现-->
        <activity
            android:name=".ExtractActivity"
            android:screenOrientation="portrait" />
        <!-- 我的银行卡-->
        <activity
            android:name=".MyBankActivity"
            android:screenOrientation="portrait" />
        <!-- 添加银行卡-->
        <activity
            android:name=".AddBankActivity"
            android:screenOrientation="portrait" />
        <!-- 提现历史-->
        <activity
            android:name=".ExtractHistoryActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>